@model FourthTemplateforfoodordering.Models.User

@{
    ViewData["Title"] = "Login";
}


@*<h4>User</h4>*@
<hr />
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Member Login Form</h2>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5" asp-action="Login">

            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <label asp-for="FName" class="control-label">UserName</label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="mb-3">
             <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input type="submit" value="Login" class="btn btn-success" />
                <a asp-action="Registration">New User?</a>
          </form>
        </div>

      </div>
    </div>
  </div>
  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
